@font-face {
    font-family : 'pretendard';
    src : url(PretendardGOV-Thin.woff)
}
a {
    color: #95A3B3;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid none;
    margin: 0;
    padding: 20px;
}
ol {
    border-right: 1px solid none;
    width: 100px;
    margin: 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body {
    background: linear-gradient(315deg, #1f1f1f, #242424);
    height: 900px;
    font-family: pretendard,shelf;
    color: #ffffff;
}
div {
    padding-left: 10px;
}
#grid ol {
    padding: 20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
@media(max-width: 600px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }
}
.glass2 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
